# data
data/processed/*
data/debug/*
data/raw/*

# except examples
!data/processed/example_*.json

# env
.env

# logs
*.log

# python
__pycache__/
*.pyc

# venv
.venv/

# temp files
server.err
server.log
run_local.py

celerybeat-schedule*
*.db
*.sqlite3
check_*.py
reset_*.py
test_*.py
trigger_*.py
